@font-face {
    font-family: 'lemon_milkbold';
    src: url('../font/lemonmilk-bold-webfont.woff2') format('woff2'),
         url('../font/lemonmilk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color:#202023;
    color: #fff ;
   height:740px;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

/* Bouton nuit et jour */
.jour{
    background-color:#f0e7db;
    color:black;
}

#soleil{
    position:relative;
    left:10px;
    top:10px;
    color:black;    
}

#lune{
    position:relative;
    left:11px;
    top:10px;
    color:white;   
}

@keyframes buttondisparaitre {
    from {
      
    }
  
    to {
     margin-top:-50px;
        opacity:0;
      
    }
  }
  @keyframes buttonaparaitre {
      from{
        margin-top:-50px;
      }
    }

#buttonsun{
   position:fixed;
   top:10px;
   left:15%;
    width:40px;
    height:40px;
    border-radius:15%;
    background-color:#fbd38d;
    cursor:pointer;
    z-index: 1;
}

.disparaitre{
    animation-name:buttondisparaitre;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}
.apparaitre{
    animation-name:buttonaparaitre;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}

#buttonmoon{
    visibility:hidden;
    position:fixed;
   top:-40px;
   left:15%;
    margin-top:50px;
    width:40px;
    height:40px;
    border-radius:15%;
background-color:#805ad5;
cursor:pointer;
z-index: 1;
}

.buttonsun:hover{
    background-color:#f6ad55;
}
.buttonmoon:hover{
    background-color:#724dc8;
}

/* Menu */

#navigation li {
    display: inline;
    list-style: none ;
  }


#navigation li a{
    color: white ;
    text-decoration: none ;
    position:fixed;
    opacity:0;
    animation-delay:1s;
    animation-name:lettrehaut;
    animation-duration:1s;
    animation-fill-mode: forwards;

}
#navigation4 :hover{text-decoration-line: line-through;text-decoration-thickness: 2px;}
#navigation2 :hover{text-decoration-line: line-through;text-decoration-thickness: 2px;}
#navigation1 :hover{ text-decoration-line: line-through; text-decoration-thickness: 2px;}
#navigation2{cursor: pointer;}
#navigation li:nth-child(n+1){font-family:'lemon_milkbold'; font-size:12px; }

#navigation li:nth-child(2){
  margin-left:74%;
 }

#navigation li:nth-child(2){margin-right:10%;}
#navigation li:nth-child(3){margin-right:8%;}

/* main */
#cache{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background-color:#1a1a1a;
    margin-left:0px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: slidein;
    z-index:1;
}


@keyframes slidein {
    from {
      margin-right: 90%;
    }
  
    to {
    margin-left:99.9%;
     width:0;
      
    }
  }

  @keyframes lettrehaut{

    to{ opacity: 100%;margin-top:0.5%;
    }
}




#container{
    margin-top:0px;
    width:726px;
    height:728px;
    margin-left:auto;
    margin-right:auto;
}

#imgh{
    width : 100px; height : 100px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  position:relative;
  left:65%;
  top:-105px;
  border:solid white 1px;
}
#trait{
    width: 80%;
    height:2px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    margin-top:-100px;
    margin-bottom:50px;
}
h3{
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
}

#mecontact{
    border:solid white;
    width:155px;
    text-align:center;
    position:relative;
    top:-130px;
    left:270px;
   cursor: pointer;
}
a{
    color: white;
    text-decoration: none ;  
}

#developpement{
    margin-left:7%;
    background-color:#202023;
    border:solid whitesmoke;
    border-radius:10px;
    width:290px;
    height:150px;
}

#infographie{
    background-color:#202023;
    border:solid whitesmoke;
    border-radius:10px;
    width:290px;
    height:150px;
    position:relative;
    left:360px;
    top:-156px;
}

.titred{
    text-align:center;
    font-weight: bold;
    font-size:20px;
    font-family: 'Lato', sans-serif;
    text-decoration-thickness: 4px;
}

.text{
    margin-top:10px;
    text-align:center;
}
/* footer */

#footer li {   
    display: inline;
    list-style: none ;
    position:relative;
    top:-100px;
    opacity:0;
    animation-delay:1s;
    animation-name:lettrehaut;
    animation-duration:1s;
    animation-fill-mode: forwards;
  }


  #footer li:nth-child(n+1){margin-left:50px; margin-right:50px;}

 /*  RESPONSIVE */
 @media screen and (max-width: 1420px){
    #buttonsun{left:20%;}
    #buttonmoon{left:20%;}
 }

@media screen and (max-width: 1183px){
    #navigation li:nth-child(2){margin-left:70%;}
    #navigation li:nth-child(2){margin-right:12%;}
    #navigation li:nth-child(3){margin-right:10%;}
    }
    
    @media screen and (max-width: 991px){
    #navigation{
        position:fixed;
        left:-8px;
        top:-16px;
        background-color:#2c2d2d;
        height:100px;
        width:110%; 
        z-index: 1;
    }
    
    #buttonsun{left:5%;}
    #buttonmoon{left:5%;}
    #navigation li:nth-child(1){
        position:absolute;
        top:10px;
        margin-left:30%;
        font-size:15px;
    }
    #navigation li:nth-child(2){
        position:absolute;
        top:60px;
        left:-55%;
    }
    
    #navigation li:nth-child(3){
        position:absolute;
        top:60px;
        left:43%;
    }
    #navigation li:nth-child(4){
        position:absolute;
        top:60px;
        left:70%;
    }}
    
    @media screen and (max-width: 769px){
        #navigation li:nth-child(1){
            margin-left:30%; 
          }
    
          #navigation li:nth-child(2){
            left:-50%;
        }
        #navigation li:nth-child(4){
            left:68%;     
        }
        }
        @media screen and (max-width: 612px){
            #navigation li:nth-child(1){
                margin-left:21%; 
              }
            }


        @media screen and (max-width: 426px){
            #navigation li:nth-child(1){            
                margin-left:18%;           
            }
            #navigation li:nth-child(2){            
                left:-60%;          
            }
            #navigation li:nth-child(3){            
                left:39%;           
            }
            #navigation li:nth-child(4){           
                left:60%;          
            }
            #l{
                position:absolute;
                top:170px;
                left:18%;
            }
        }
    
        @media screen and (max-width: 376px){
            #navigation li:nth-child(1){            
                margin-left:18%;}   
        }
    
        @media screen and (max-width: 321px){
            #navigation li:nth-child(1){            
                margin-left:13%; }   
            #l{
                    
                    left:5%;
                }
        }
/*     RESPONSIVE BODY */
@media screen and (max-width: 991px){
#container{
    margin-top:100px;
}}

@media screen and (max-width: 791px){
#container{
    width:500px;
}
body{
    
    height:900px;
}

#imgh{
    left:70%;
}
#developpement{width:190px;}
#infographie{width:190px;  left:50%;}
#mecontact{
    left:31%;
}}

@media screen and (max-width: 526px){
    body{
        height:1200px;
    }
#container{
    width:290px;
    height:1000px;
}
#imgh{
    top:-15%;
    left:75%;
}
#infographie{
    top:20px;
    left:16%;
}

#developpement{
    margin-left:16%;}
#mecontact{
    top:80px;
    left:20%;
}
}



/* RESPONSIVE FOOTER */
@media screen and (max-width: 991px){
#footer li {  
    position:absolute;
    top:800px; 
   }
   #footer li:nth-child(1){left:17%; }
   #footer li:nth-child(2){left:34%;}
   #footer li:nth-child(3){left:61%; }
}

@media screen and (max-width: 767px){
    #footer li:nth-child(1){left:17%;}
    #footer li:nth-child(2){left:30%;
   }
}

@media screen and (max-width: 526px){
    #footer li {  
        font-size:12px;
        top:1100px; 
      
       }
      
        #footer li:nth-child(1){left:12%; }
        #footer li:nth-child(2){left:27%;}
        #footer li:nth-child(3){left:60%; }
}

@media screen and (max-width: 409px){
    #footer li:nth-child(1){left:0%; }
    #footer li:nth-child(2){left:20%;}
    #footer li:nth-child(3){left:65%; }
}